body {
  background: red;
  color: yellowgreen;
  margin: 0;
  padding: 0;
  float: left;
  background: red;
  color: yellowgreen;
  margin: 0;
  padding: 0;
  float: left;
}

.test {
  background: red;
  color: yellowgreen;
  margin: 0;
  padding: 0;
  float: left;
  background: red;
  color: yellowgreen;
  margin: 0;
  padding: 0;
  float: left;
}
