body{
    background:red;
    color:blue;
    padding: 4px;
    margin: 5px;
    background:red;
    color:blue;
    padding: 4px;
    margin: 5px;
}

div{
    background:red;
    color:blue;
    padding: 4px;
    margin: 5px;
}